@model PackagesViewModel

@{
    ViewData["Title"] = "Package List";
}

<form asp-controller="Home" asp-action="ChangeSnapshot" method="post" class="form" name="snapshotForm" >
    <div class="form-group">
        <label for="ddlSnapshots">Snapshots:</label>
        <select id="ddlSnapshots" asp-for="SelectedSnapshotId" asp-items="Model.Snapshots" class="form-control"></select>
    </div>
</form>

<input type="hidden" name="SelectedSnapshotId" id="hiddenSnapshotId" />
<div class="row ">
    <div class="col-sm-5 panel panel-default panel-body">
        @{ Html.RenderPartial("SearchPackages", Model);}
    </div>
    <div class="col-sm-2"></div>
    <div class="col-sm-5 panel panel-default panel-body">
        @{ Html.RenderPartial("SearchProjects", Model);}
    </div>
</div>

    @if (Model.SearchPackagesViewModel.SelectedPackageName != null)
    {
        <span>Latest version for @Model.SearchPackagesViewModel.SelectedPackageName is <strong>@Model.SearchPackagesViewModel.LatestVersionForSelectedPackage</strong></span>
        <p/>

        <table class="table table-bordered table-striped table-hover">
            <thead>
            <tr>
                <th style="background-color: floralwhite;">@Model.SearchPackagesViewModel.SelectedPackageName</th>
                @foreach (var version in Model.SearchPackagesViewModel.Versions)
                {
                    <th style="text-align: center">@version</th>
                }
            </tr>
            </thead>
            <tbody>
            @foreach (var projectRowValue in Model.SearchPackagesViewModel.ProjectRows)
            {
                <tr>
                    <th>@projectRowValue.ProjectName</th>
                    @foreach (var value in projectRowValue.ValuesList)
                    {
                        <td style="text-align: center">@if (value) { <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> }</td>
                    }
                </tr>
            }
            </tbody>
        </table>
    }
    
    @if (Model.SearchProjectsViewModel.SelectedProjectName != null)
    {
        <ul>
            @foreach (var package in Model.SearchProjectsViewModel.PackagesForSelectedProject)
            {
                <li>@package.Name @package.Version</li>
            }
        </ul>
    }
    
<script type="text/javascript">
    $(document).ready(function () {
        document.getElementById('searchPackages').addEventListener('awesomplete-selectcomplete', function(obj) {
            document.getElementById('ddlPackages').value = obj.text.value;
        });
        document.getElementById('searchProjects').addEventListener('awesomplete-selectcomplete', function (obj) {
            document.getElementById('ddlProjects').value = obj.text.value;
        });
        $("#ddlSnapshots").change(function() {
             document.snapshotForm.submit();
        });
        $("#btnSearchPackagesSubmit").click(function() {
            document.getElementById('hiddenSnapshotId').value = document.getElementById('ddlSnapshots').value;
            document.searchPackagesForm.appendChild(document.getElementById('hiddenSnapshotId')); 
            document.searchPackagesForm.submit();
        });
        $("#btnSearchProjectsSubmit").click(function () {
            document.getElementById('hiddenSnapshotId').value = document.getElementById('ddlSnapshots').value;
            document.searchProjectsForm.appendChild(document.getElementById('hiddenSnapshotId')); 
            document.searchProjectsForm.submit();
        });
    });

    
</script>