@model PackagesViewModel

@{
    ViewData["Title"] = "Package List";
}

<form asp-controller="Home" asp-action="ChangeSnapshot" method="post" class="form" name="snapshotForm" >
    <div class="form-group">
        <label for="ddlSnapshots">Snapshots:</label>
        <select id="ddlSnapshots" asp-for="SelectedSnapshotId" asp-items="Model.Snapshots" class="form-control"></select>
    </div>
</form>

<input type="hidden" name="SelectedSnapshotId" id="hiddenSnapshotId" />
<div class="row ">
    <div class="col-sm-5 panel panel-default panel-body">
        <form asp-controller="Home" asp-action="ShowPackagesOrderedByVersionPackageName" method="post" class="form" name="searchPackagesForm" >
    
            <div class="form-group">
                <label for="ddlPackages">Packages ordered by version count:</label>
                <select id="ddlPackages" asp-for="SelectedPackageName" asp-items="Model.PackagesOrderedByVersionCount" class="form-control"></select>
            </div>
    
            <div class="form-group">
                <datalist id="dlAutoCompletePackages">
                    @foreach (var package in Model.PackagesOrderedByVersionCount)
                    {
                        <option value="@package.Value">@package.Text</option>
                    }
                </datalist>

                <label for="search">Quick Search:</label>
                <input id="searchPackages" class="awesomplete form-control" list="dlAutoCompletePackages" data-minchars="1" data-maxitems="20"/>
            </div>

            <button id="btnSearchPackagesSubmit" type="submit" class="btn btn-primary btn-sm">Show project usages</button>
            <p />
        </form>
    </div>
    <div class="col-sm-2"></div>
    <div class="col-sm-5 panel panel-default panel-body">
        <form asp-controller="Home" asp-action="ShowPackagesForProject" method="post" class="form" name="searchProjectsForm">

            <div class="form-group">
                <label for="ddlProjects">Projects:</label>
                <select id="ddlProjects" asp-for="SelectedProjectName" asp-items="Model.Projects" class="form-control"></select>
            </div>

            <div class="form-group">
                <datalist id="dlAutoCompleteProjects">
                    @foreach (var project in Model.Projects)
                    {
                        <option value="@project.Value">@project.Text</option>
                    }
                </datalist>

                <label for="searchProjects">Quick Search:</label>
                <input id="searchProjects" class="awesomplete form-control" list="dlAutoCompleteProjects" data-minchars="1" data-maxitems="20" />
            </div>

            <button id="btnSearchProjectsSubmit" type="submit" class="btn btn-primary btn-sm">Show packages</button>
            <p />
        </form>
    </div>
</div>

    @if (Model.SelectedPackageName != null)
    {
        <table class="table table-bordered table-striped table-hover">
            <thead>
            <tr>
                <th style="background-color: floralwhite;">@Model.SelectedPackageName</th>
                @foreach (var version in Model.Versions)
                {
                    <th style="text-align: center">@version</th>
                }
            </tr>
            </thead>
            <tbody>
            @foreach (var projectRowValue in Model.ProjectRows)
            {
                <tr>
                    <th>@projectRowValue.ProjectName</th>
                    @foreach (var value in projectRowValue.ValuesList)
                    {
                        <td style="text-align: center">@if (value) { <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> }</td>
                    }
                </tr>
            }
            </tbody>
        </table>
    }
    
    @if (Model.SelectedProjectName != null)
    {
        <ul>
            @foreach (var package in Model.PackagesForSelectedProject)
            {
                <li>@package.Name @package.Version</li>
            }
        </ul>
    }
    
<script type="text/javascript">
    $(document).ready(function () {
        document.getElementById('searchPackages').addEventListener('awesomplete-selectcomplete', function(obj) {
            document.getElementById('ddlPackages').value = obj.text.value;
        });
        document.getElementById('searchProjects').addEventListener('awesomplete-selectcomplete', function (obj) {
            document.getElementById('ddlProjects').value = obj.text.value;
        });
        $("#ddlSnapshots").change(function() {
             document.snapshotForm.submit();
        });
        $("#btnSearchPackagesSubmit").click(function() {
            document.getElementById('hiddenSnapshotId').value = document.getElementById('ddlSnapshots').value;
            document.searchPackagesForm.appendChild(document.getElementById('hiddenSnapshotId')); 
            document.searchPackagesForm.submit();
        });
        $("#btnSearchProjectsSubmit").click(function () {
            document.getElementById('hiddenSnapshotId').value = document.getElementById('ddlSnapshots').value;
            document.searchProjectsForm.appendChild(document.getElementById('hiddenSnapshotId')); 
            document.searchProjectsForm.submit();
        });
    });

    
</script>